@font-face {
    font-family: 'Nimbus-ExtReg';
    src: url("../fonts/Nimbus/nimbus-sans-extd.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Nimbus-ExtBold';
    src: url("../fonts/Nimbus/nimbus-sans-extd-bold.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Nimbus-ExtLight';
    src: url("../fonts/Nimbus/nimbus-sans-extd-light.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Nimbus-ExtBlack';
    src: url("../fonts/Nimbus/nimbus-sans-extd-black.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Michroma';
    src: url("../fonts/Michroma/Michroma-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'Source Code Pro';
    src: url("../fonts/Source_Code_Pro/static/SourceCodePro-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}







