.ace_editor .ace_gutter {
    background: #0b263512;
    color: #0a3c52;
    font-style: normal;
    font-size: 0.9rem;
}

.ace_gutter-active-line {
    background: #032030 !important;
    color:  #00ffac;
}

.ace_editor {
    background-color: #0b263500;
    font: 12px / normal 'Source Code Pro', 'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'source-code-pro', monospace;
    line-height: 1.4rem !important;
}



/*.ace_gutter-cell {*/
/*    background-color: black;*/
/*    color: #93d6ff;*/
/*}*/