html,
body {
  margin: 0;
  padding: 0;
  background: black;
  font-size: clamp(.7rem, 1.2vw, 1.1rem);
  height: 100%;
  color: #93d6ff;
    overflow-y: hidden;
}

.title {
  font-family: 'Michroma', 'Nimbus-ExtLight', sans-serif;
  text-transform: uppercase;
  display: flex;
  gap: 1rem;
  flex-direction: row;
  align-items: center;
  font-size: 1.2rem;
  color: #2fdcb0;
}

.panel_header {
  display: flex;
  justify-content: space-between;
  margin: 0;
  background-color: #29a0ef0f;
  padding: 0.75rem 1rem;
}

.panel-title {
  color: #93d6ff;
  font-weight: bold;
  font-size: 1rem;
  margin: 0 1.5rem 0 0;
}

.playground {
  color: #d3f5ff;
  font-size: .8rem;
}

#app {
  height: 100%;
}

@media screen and (min-width: 768px) {
  #app {
    display: flex;
    flex-direction: row;
    height: 100vh;
  }
}

.gutter {
  background-color: #3f3f3f;
  background-repeat: no-repeat;
  background-position: 50%;
  position: relative;
}

.gutter:hover {
  background-color: #727272;
}

.gutter.gutter-horizontal {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==');
  cursor: col-resize;
}

.gutter.gutter-vertical {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAFAQMAAABo7865AAAABlBMVEVHcEzMzMzyAv2sAAAAAXRSTlMAQObYZgAAABBJREFUeF5jOAMEEAIEEFwAn3kMwcB6I2AAAAAASUVORK5CYII=');
  cursor: row-resize;
  width: 100%;
}

#screen_left {
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
}

@media screen and (min-width: 768px) {
  #screen_left {
    width: 50%;
    background: #0b263512;
  }
}

#screen_right {
  display: flex;
  flex-direction: column;
  position: relative;
}

#screen_right_content {
    position: absolute;

    width: 100%;
    height: 100%;

    /* width height overrides ;*/
    /* split.js causing background issues when vertical split.*/

    height: -moz-fill-avaiable;
    height: -webkit-fill-available;
    height: stretch;

    width: -moz-fill-avaiable;
    width: -webkit-fill-available;
    width: stretch;
    display: flex;


    flex-direction: column;
    background-color: #29a0ef0f;  /* opacity increase over left side*/

}

#screen_right_content div.controls {
    border-bottom: thin solid #7afad34a;
}

#screen_right_content  div.controls > div.title {
    font-weight: bold;
    font-size: 22px;
}

@media screen and (min-width: 768px) {
  #screen_right {
    width: 50%;
  }
}


#editor_container {
  display: flex;
  flex-flow: column;
  height: 100%;
}

.panel_container {
  height: 0;
  z-index: 10;
}

#input_editor {
  display: block;
  flex: 1;
  min-height: 20rem;
  height: 100%;
  margin: 0;
}

.controls {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  justify-content: space-between;
  background: black;
  color: white;
  padding: 1rem;
  border-bottom: .1rem solid #01563b20;
  flex-wrap: wrap;
}

.btn {
  padding: .7rem 1.2rem;
  background-color: #02ffcf;
  color: black;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  border-radius: .25rem;

  gap: .5rem;
  display: flex;
  font-weight: bold;
  align-items: center;
}

.btn.yellow {
    background-color: #4c34114d;
    color: #ffdb00 !important;
}

.btn:hover {
  background-color: #00ffac3b;
  color: white;
}

.btn:hover.yellow {
    background-color: #4C3411;
    color: #ffdb00 !important;
}

.btn:disabled {
  /* background-color: #3f3f3f; */
  opacity: 0.4;
  cursor: default;
}

.btn-clear {
  padding: .4rem .5rem;
  background-color: #3f3f3f;
  cursor: pointer;
  border: none;
  line-height: 0;
  border-radius: .25rem;
  color: white;
  font-size: 1rem;
  position: absolute;
  right: 1rem;
}

.btn-clear:hover {
  background-color: white;
  color: black;
}

.input {
  border: none;
  outline: none;
  padding: .6rem .8rem;
  background: #3f3f3f;
  color: white;
  border-bottom: thin solid #6d6d6d;
}

#spec>div:not(#entry-controls) {
  padding: 1rem;
  /*display: flex;*/
  gap: .8rem;
  align-items: center;
  border-bottom: .1rem solid #3f3f3f;
  background: black;
  color: white;
}

/*#spec>div>:nth-child(1) {*/
/*  font-weight: bold;*/
/*}*/

.spec-column {
  display: flex;
  flex-direction: column;
  align-items: start !important;
  gap: .5rem;
}

.spec-param {
  display: flex;
  flex-direction: column;
  gap: .25rem;
}

#output_container {
  flex: 1;
  padding: 1rem 0 0 0;
  background: black;
  overflow-y: scroll;
  scroll-behavior: smooth;
  position: relative;
}

.output-header {
  padding: 0;
  vertical-align: middle;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background: #00ffac08; */
  margin: 0 1rem;
  border: 0 none;
  /* border-bottom: 20px solid white; */
}

#output {
  color: #02ffcf;
  /*color: #94e6ff;*/
  font-size: 1rem;
  line-height: 1.4rem;
  white-space: pre-line;
  padding-bottom: 4rem;
  overflow-wrap: anywhere;
  overflow-x: unset;
}

@media screen and (min-width: 768px) {
#output_container {
overflow: auto;
}
}

::-webkit-scrollbar {
height: .6rem;
width: .6rem;
}

::-webkit-scrollbar-track {
background: rgba(15, 15, 15, 0.8);
border-radius: .5em;
}

::-webkit-scrollbar-thumb {
background: rgba(40, 40, 40, 0.8);
border-radius: .5em;
}

::-webkit-scrollbar-thumb:hover {
background: rgb(122 250 211);
}

.hidden {
    position: absolute;
    top: -9999px !important;
    display: none;
}

.flex-row {
display: flex;
flex-direction: row;
align-items: center;
gap: .5rem;
flex-wrap: wrap;
}

.flex-column {
display: flex;
flex-direction: column;
gap: .5rem;
}

.editor-wrap {
display: flex;
flex-direction: row;
position: relative;
}

#editor_lines {
color: #3f3f3f;
padding: 1rem .5rem 1rem 1rem;
font: 1rem 'Source Code Pro', 'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', monospace !important;
}

.spin {
animation: spin .8s infinite;
}

@keyframes spin {
100% {
transform: rotate(360deg)
}
}

.out-err {
background-color: red;
color: white;
padding: .1rem .25rem;
position: relative;
top: .4rem;
}

.out-success {
background-color: #02ffcf;
padding: .1rem .25rem;
position: relative;
top: .4rem;
color: black;
}

.export-program-buttons {
display: flex;
flex-direction: row;
}

.export-program-buttons button {
background: #000f18;
border: none;
color: #02ffcf;
padding: .5rem 1rem;
cursor: pointer;
border-bottom: thin solid #02ffcf;
user-select: none;
}

.export-program-buttons button:hover,
.export-program-buttons button.selected {
background-color: #02ffcf;
color: black;
}

.export-program-value {
word-break: break-all;
font-size: .8rem;
padding: 1rem;
background: #030c13;
color: #00dbff;
max-height: 400px;
overflow: auto;
margin-bottom: .5rem;
}

.export-program-size {
font-size: .8rem;
}

#function_list {
color: rgb(187, 225, 255);
border-bottom: .1rem solid #3f3f3f;
font-family: 'Source Code Pro', 'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', monospace !important;
border-right: .1rem solid #3f3f3f;
border-bottom: none;
overflow: auto;
}

@media screen and (min-width: 768px) {
#function_list {
border-right: .1rem solid #3f3f3f;
border-bottom: none;
overflow-y: auto;
overflow-x: hidden;
}
}

#function_list> :nth-child(1) {
  font-size: 22px;
  text-transform: uppercase;
  padding: 1rem;
  color: #02ffcf;
  font-weight: bold;
}

#function_list> :nth-child(2) {
padding: 0 1rem 1rem 1rem;
}

#function_list> :nth-child(2)>input {
box-sizing: border-box;
width: 100%;
padding: .5rem;
border: none;
outline: none;
border-radius: .25rem;
background: #0a0a0a;
color: white;
font-size: 1rem;
}

#function_list> :nth-child(3) {
display: flex;
gap: 2rem;
overflow: auto;
padding: 1rem;
padding-top: 0;
flex-direction: column;
}

#function_list> :nth-child(3)>div>div {
padding-left: .5rem;
white-space: nowrap;
}

#function_list> :nth-child(3)>div> :first-child {
margin-bottom: .5rem;
padding-left: 0;
}

#btn_open_func_list {
position: absolute;
right: 0;
top: 50%;
transform: translate(33%, -50%) rotate(-90deg);
background: transparent;
color: white;
padding: .5rem 1rem;
font-size: 1rem;
font-weight: bold;
cursor: pointer;
border-top-left-radius: .25rem;
border-top-right-radius: .25rem;
border: thin solid white;
backdrop-filter: blur(2px);
z-index: 1;
border-bottom: none;
}

#btn_open_func_list:hover {
background: white;
color: black;
opacity: 1;
}

#btn_toggle_func_list {
background: #222222;
border: none;
cursor: pointer;
color: white;
padding: 1rem;
opacity: .3;
width: 100%;
white-space: nowrap;
display: flex;
align-items: center;
justify-content: center;
}

@media screen and (min-width: 768px) {
  #btn_toggle_func_list {
    width: 3em;
  }

  #btn_toggle_func_list>div {
    rotate: -90deg;
  }
}

#btn_toggle_func_list:hover {
  opacity: .6;
}


.key-label {
  color: #93d6ff;
  padding-right: 0.75rem;
}

.vertical {
  display: flex;
  flex-direction: column;
  gap: .5rem;
  margin-bottom: 1.5rem;
}

.layout-tight label {
  font-size: 0.65rem;
  text-transform: capitalize;
}

.data-container {
  margin-top: 1.5rem;
}

.dialog-container {
  margin-top: 1rem;
  padding: 1.5rem;
  border: 1px solid #06272cb0 ;
}

#editor_save_code_container :nth-last-child(1 of .vertical) {
    margin-bottom: 0;
}

.dialog-title {
  font-size: 0.9rem;
  /* font-weightn: bold; */
  color: rgb(89 182 255);
  text-transform: uppercase;
  margin-bottom: 1.5rem;
  word-spacing: 0.33rem;
}

.warning {
    color: rgb(255 203 89);
    /* font-weight: bold; */
}

.dialog-btn-container {
  display: flex;
  padding-top: 1.5em;
  gap: 0.75rem;
}

.alert_container .dialog-btn-container {
    margin-top: 1.5rem;
}

.alert_container .panel_body {
    min-height: unset;
}

.right {
  justify-content: flex-end;
}

.info-table {
  display: table;
  /*flex-direction: column;*/
  /*gap: 0.5rem;*/
  font-size: 0.6rem;
}

.info-item {
  display: table-row;
  /*flex-direction: row;*/
  /*gap: 0.5rem;*/
  /*align-items: center;*/
}

.info-item key {
    border: 1px solid #06272cb0;
  display: table-cell;
  font-weight: bold;
  padding-right: 1rem;
  text-transform: uppercase;
  padding-bottom: 0.75rem;
  color: #00c1ff;
}

.info-item value {
  display: table-cell;
  font-size: 0.77rem;
}

.info-block-container {
  background-color: #03090e;
}

.info-block {
  display: flex;
  gap: 1rem 3rem;
  align-items: flex-start;
  flex-wrap: wrap;
  /*border: solid 1px #034853;*/
  margin: 0 1rem 0.5rem 1rem;
  padding: 0.5rem 0.75rem 0.5rem 0.75rem;
  font-size: 0.75rem;
  color: #00eaff; /*#9fffda;*/
  background-color: rgb(84 176 186 / 16%); /*rgba(159, 255, 218, 0.16)*/;
}

.info-block > div {
    /* border: 1px solid yellow; */
}

.info-block-button-container {
  display: flex;
  flex-grow: 1;
  justify-content: right;
}

#project-details-container .info-block {
    /* ugly and not ready yet */
    display: none;
    background-color: #0069b33d;
    margin: 0;
    color: #76d8ff94;
    margin-bottom: 1.5rem;
}

#project-details-container .info-block key {
    color: #ffffff;
}

.info-block label, .info-block .label, .info-block key {
  display: block;
  margin-bottom: 0.25rem;
  font-size: 0.5rem;
  text-transform: uppercase;
  color: rgba(159, 255, 218, 0.69);
}

/** Panel **/
.panel_body {
  position: relative;
  z-index: 4;
  min-height: 250px;
  background-color: #030a1090;
  padding: 1rem;
  animation: panel-anim-in .1s running;
}

#screen_right_content .panel_body, .alert_container .panel_body {
  animation: panel-anim-in .1s running;
  transition: opacity 0.5s ease-out;
}

/*  #screen_right_content .panel_container { */
/*     border: 2px solid purple; */
/*     background-color: cornflowerblue; */
/*     height: fit-content; */
/* } */

.panel_backdrop {
    z-index: 3;
    background: rgba(0, 0, 0, .5);
    backdrop-filter: blur(5px);
    position: absolute;
    width: 100%;
    height:100%;
    height: stretch;
    width: stretch;
    /* height: calc(100% - 5rem); */
}

.bkdrp-strong {
    background: rgb(1 11 18 / 95%)
  /* background: rgba(0, 0, 0, .75); */
}

.po-btns {
  display: flex;
  gap: 0.75rem;
}

.warning-notice1 {
    color: #ff8500;
    background-color: #ff59000d;
    font-size: 0.75rem;
}

.warning-notice2 {
    color: #97fff2;
    /* background-color: #02120e40; */
}

.close-btn.top-right {
    float: right;
    position: relative;
    top: -0.3rem;
}

.alert_container .panel_backdrop {
    top: 0;
    width: 100%;
    height: 100%;
}

.alert_container .close-btn.top-right {
    top: -2.25rem;
    right: -1.25rem;
}



.alert_container .dialog_container {
    margin-top: 0;
}

.alert_container .panel_body {
    margin: -3rem 4rem 0;
}

.alert_container .info-block {
    margin: auto 0rem;
}

.alert_container .panel_body {
    background-color: #01080e;
}

.warning-alert .notice, .warning-alert .warning-notice2 {
    font-size: 0.75rem;
    margin-top: 1.25rem;
}

.warning-alert {
    border: 1px solid #20ede703;;
    border-collapse: collapse;
}

.unsaved {
    color: #dccb1f;
}

@keyframes panel-anim {
  0% {
    opacity: 0;
    transform: scale(0%);
  }

  70% {
    opacity: 0.3;
    transform: scale(220%);
  }

  100% {
    opacity: 1;
    transform: scale(100%);
  }
}

@keyframes panel-anim-in {
  0% {
    opacity: 0;
    transform: scale(0%);
  }

  100% {
    opacity: 1;
    transform: scale(100%);
  }
}


