.app-container {
    display: grid;
    grid-template-columns: auto;
    row-gap: 20px;
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar {
    display: none;
}

.app-name {
    color: #ceebf9; /*#A8BFC3;*/
    font-size: 2em;
    font-weight: bold;
}

.ui-wrapper {
    padding: 12px;
}

.ui-panel-2 {
    display: block;
    border: 1px solid #41607c;
    width: 100%;
    margin-bottom: 10px;
}

.clean {
    border: none !important;
}

.data-table-container.scrollable {
    max-height: 250px; /* Or a fixed height */
    overflow-y: auto;
}

.data-table-container.scrollable .data-table {
    border-collapse: separate;
    border-spacing: 0;
}

.data-table-container.scrollable thead, .data-table-container.scrollable tfoot {
    position: sticky;
    top: 0;
    z-index: 5; /* Ensures it stays on top */
}

.data-table-container.scrollable tfoot {
    bottom: 0;
}

.data-table-container.scrollable::-webkit-scrollbar {
    display: initial;
    height: .4rem;
    width: .4rem;
}

.data-table-container.scrollable::-webkit-scrollbar-thumb {
    background: #00734e;
    border-radius: .5em;
}

.data-table-container.scrollable::-webkit-scrollbar-thumb:hover {
    background: rgb(122 250 211);
}

.data-table {
    font-size: 0.70em;
    text-transform: none;
    color: rgb(25, 185, 255);
    width: 100%;
    margin: 0;
    border-collapse: collapse;
}

.data-table th {
    border-right: 1px solid #2a455e;
    padding: 0.5rem;
    margin-bottom: 0;
    text-transform: uppercase;
    font-size: 0.8em;
    letter-spacing: 0.05rem;
}

.data-table th, .data-table tfoot td {
    background-color: rgb(0 16 23);
    color: #7da1b4;
}


.data-table td {
    background-color: #032030;
    padding: 0.4rem 0.6rem;
    margin-bottom: 4px;
    border-right: 1px solid #2a455e;
}

.data-table th:nth-child(1), .data-table td:nth-child(1) {
    border-left: none;
}
.data-table th:last-child, .data-table td:last-child {
    border-right: none;
}

.data-table tbody tr:hover td{
    cursor: pointer;
    background-color: rgba(17, 54, 86, 0.75) !important;
    color: rgb(187, 225, 255);
}

.data-table tfoot td {
    text-align: right;
    padding-right: 1rem;
}

.ro-display div {
    font-size: 0.65em;
    display: inline-block;
    background-color: rgba(17, 54, 86, 0.65);
    padding: 5px 6px;
    text-transform: uppercase;
    margin-bottom: 4px;
}

.ro-display div label {
    display: block;
    margin-bottom: 2px;
    min-width: 50px;
    color: #578C90;
}

.opt-btn:hover  {
    cursor: pointer;
    color : #b6e5ff !important;
}

.parameter-sel-container {
    display: grid;
    grid-template-columns: auto auto auto;
    text-transform: uppercase;
    white-space: nowrap;
    font-size: 0.8em;
    gap: 5px;
}

.parameter-sel-container > .header {
    grid-column: 1 /4;
    padding-bottom: 5px;
    font-size: 1.25em;
    color: #ffd500;
}

.type-2 .info-block {
    margin: 1.25rem 0 0;
}


/* component specific styles */

#parameter-detail-body {
    display: grid;
    grid-template-columns: 40% auto;
    gap: 20px;
    align-content: space-between;
    align-items: start;
}

#project-details-container .data-table td:nth-child(2) {
    text-align: center;
}

#projects-table-container .data-table td:nth-child(3),
#projects-table-container .data-table td:nth-child(4),
#project-details-container .data-table td:nth-child(3),
#project-details-container .data-table td:nth-child(4),
#project-details-container .data-table td:nth-child(5) {
    text-align: right;
}

#btn_close_project_panel {
    top: -0.1rem;
    font-size: 0.65rem;
}

#editor_commands {
    margin-bottom: 0.15rem;
}

#project-details-container {
    border: none;
    padding: 1.5rem 0;
    margin-top: 0;
    animation: panel-anim-in .1s running;
}

#projects-table-container {
    margin-top: 1.5rem;
}

#projects-table-container .data-table tbody td {
    padding: 0.5rem 0.6rem;
}

.data-count {
    font-weight: bold;
    /*color: #93d6ff;*/
}

/* tooltip */
.with-tooltip {
    position: relative;
}

.with-tooltip::after {
    content: attr(data-tooltip); /* Get tooltip text from the data attribute */
    position: absolute;
    bottom: 115%;
    left: 0%;
    transform: translateX(  0%) translateY(0%);
    /* font-size: 0.6rem; */
    width: auto;
    min-width: 120px;
    background-color: rgb(0, 25, 38);
    color: rgb(147, 214, 255);
    text-align: center;
    padding: 5px 10px;
    border-radius: 6px;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s, visibility 0.3s;
    white-space: nowrap;
    z-index: 100;
}

.with-tooltip:hover::after {
    visibility: visible;
    opacity: 1;
}

.with-tooltip:disabled::after {
    visibility: hidden;
    opacity: 0;
}

#function_list .with-tooltip::after {
    bottom: 0;
    left: 4rem;
    z-index: 100;
    width: fit-content;
}

.call-history-container {
    position: absolute;
    top: -20px;
    left: 50px;
    border: solid 1px #93d6ff;
}

.storage-info-block {
    display: flex;
    flex-shrink: 4;
    flex-direction: row;
    align-items: flex-start;
    background: none;
    justify-content: space-between;
}

.storage-info-block textarea {
    height: 4rem;
    width: 100%;
    padding: 0.75rem 1rem;
    box-sizing: border-box;
    margin-top: .5rem;
}

.key-hr-menu {
    display: flex;
    flex-direction: row;
    align-content: flex-end;
    align-items: baseline;
}

.ui-horiz-layout {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1.5rem;
    width: 100%;
    width: -webkit-fill-available;
}

.sp-content-dtc {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    height: 50vh;
    margin-bottom: 3rem;
}

.sp-content-dtc .data-table-container {
    max-height: none;
    width: 100%;
    height: 100%;
}

.storage-preset-row input, .storage-preset-row textarea, .storage-preset-row select, .storage-preset-row option {
    width: 100%;
    box-sizing: border-box;
}

.storage-preset-row select, .storage-preset-row option {
    background: #021926;
    border: none;
    outline: 0px solid #00eaff;
}

#storage-map-insert-update-dialog {
    padding: 0.75rem;
}

.sm-info {
    display: flex;
    flex-shrink: 1;
    gap: 1rem;
}

.sm-info input {
    flex-shrink: 1;
    width: 50%;
    min-width: 3rem;
}

.storage-info-block.controls {
    margin-top: 1.5rem;
}

.storage-map-update-btn-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    flex-wrap: nowrap;
}