/* The container must be positioned relative: */
.custom-select {
  position: relative;
}

.custom-select select {
  display: none; /*hide original SELECT element: */
}

.select-selected {
  background-color: #02ffcf;
  border-radius: .25rem;
  font-size: 1rem;
  display: flex;
  align-items: center;
  gap: .7rem;
  font-weight: bold;
  user-select: none;
}

/* Style the arrow inside the select element: */
.select-selected:after {
  content: "";
  position: relative;
  top: 4px;
  border: .5rem solid transparent;
  border-color: #00ffebb5 transparent transparent transparent;
}

/* Point the arrow upwards when the select box is open (active): */
.select-selected.select-arrow-active:after {
  border-color: transparent transparent #00ffebb5 transparent;
  top: -4px;
}

/* style the items (options), including the selected item: */
.select-items div,.select-selected {
  color: black;
  padding: .7rem 1.2rem;
  cursor: pointer;
}

.select-items div {
  color: #00d1af;
  font-size: 0.7rem;
  text-transform: initial;
}

/* Style items (options): */
.select-items {
  position: absolute;
  background-color: #021814;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
  font-size: 1rem;
  max-height: 400px;
  overflow: auto;
}

/* Hide the items when the select box is closed: */
.select-hide {
  display: none;
}

.select-items div:hover {
  background-color: black;
}

.same-as-selected {
  background-color: #002c1e;
}

.menu-item-name:after {
    content: "";
    position: relative;
    margin-left: 0.75rem;
    top: 0.8rem;
    border: .45rem solid transparent;
    border-color: #00eaff transparent transparent transparent;
}

.dropdown:hover .menu-item-name:after {
    border-color: transparent transparent #00eaff transparent;
    top: -0.75rem;
}

.menu-separator {
    border: 0;
    border-top: 1px solid #006676;
    margin: 0.25rem 0;
}