/** screen bleeds **/
/** background #030c134a **/
/** background #0b26354a **/

pre, pre *
, .code
, .pb-arguments-container > pre *
, textarea, input, #output_container
, #signature-container > parameter *
, #export_program_value {
    font-family: 'Source Code Pro', 'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', monospace !important;
}

pre:not(.input_editor > pre), .code {
    /* padding: 5px; */
    margin: 0;
    color: #299def; /* rgb(187, 225, 255);*/
    /* font-size: small; */
    display: inline;
    white-space: pre-wrap;
    font-size: 1rem;
}

.code {
    color: #94dfff;
}

body, #modal_parameter_builder *, #parameter-display *
, .controls, .btn, .opt-btn, #screen_right > .controls .title, #screen_right > #program-spec > #entry-controls *:not(pre *)
, #screen_right > #program-spec > #entry-controls *:not(input), h2.title1, .title, #function_list> :nth-child(1) {
    font-family: "Michroma", "Nimbus-ExtLight", sans-serif;
}

.modal-content {
    padding: 20px
}

.modal-content:has(.parameter-builder-container) {
    background-color: #030c134a; /* #071A27; /*#12364D; /*#0A2B41*/
    color: #00dbff;
}

.parameter-builder-container {
    display: grid;
    grid-template-columns: auto;
    row-gap: 20px;
    margin: 0;
    padding: 0;
}

h2 {
    font-size: 1.0rem;
    /* color: #2c454e; */ /* #bbe1ff;*/
    /*color: #137579;*/
    color: #6bccf9;
}

.title1 {
    margin-top: 0;
    text-transform: uppercase;
    font-size: 0.8rem;
    opacity: 0.4;
}

.hide {
    display: none !important;
}

.modal-title {
    font-family: 'Michroma', 'Nimbus-ExtLight', sans-serif;
    text-transform: uppercase;
}

.compound-type {
    display: contents;
}

.param-container {
    margin-bottom: 20px;
    margin-top: 50px;
}

.param-container:first-child {
    margin-top: 0;
}

.param-container > .type-container {
    /* padding-left: 20px; */
}

.parameter-header {
    margin-top: 0;
    text-transform: uppercase;
    font-size: 0.74rem;
    font-weight: bold;
    alignment-baseline: baseline;
}

.parameter-header > span {
    margin-left: 10px;
    color: #a8ebf9;
    font-weight: lighter;
    font-size: 0.65rem;
}

.compound-type {
    padding: 10px;
    border: 1px solid #00dbff44;
}

.type-label {
    margin: 0;
    font-size: smaller;
}

.type-label:not(:has(+ .opt-btn)) {
    margin: 0 0 15px 0;
}

textarea, input {
    color: rgb(187, 225, 255);
    font-size: 0.9rem;
    border: 1px solid #00dbff40;
    background-color: #00000036;
}

input:focus, textarea:focus {
    border: 1px solid #00dbffb0 !important;
    outline: none;
}

textarea {
    width: calc(100% - 0rem);
    height: 6em;
    resize: none;
    /*width: 100%;*/
    margin: unset;
    padding: 1rem;
    box-sizing: border-box;
}

input {
    padding: 4px;
    margin-bottom: 4px;
}

input[type="number"]::-webkit-outer-spin-button,
 input[type="number"]::-webkit-inner-spin-button {
     -webkit-appearance: none;
     margin: 0;
 }

input[type="number"] {
    -moz-appearance: textfield;
}


::placeholder {
    color: rgba(136, 154, 170, 0.67);
    font-family: 'Michroma', 'Nimbus-ExtLight', sans-serif;
    text-transform: uppercase;
    font-size: 0.6rem;
}

.large-input {
    font-size: 1.2rem;
    padding: 10px;
}

/** main buttons **/
/* overrides */
.controls, .btn, .select-selected {
    text-transform: uppercase;
    font-size: 0.6rem;
}

.select-selected, .btn {
    border-radius: 0;
    background: #00ffac12;
    color: #00ffebb5 !important
}

/* end overrides */

#xelis-type {
    font-size: 1.5rem;
}

.options-container {
    display: grid;
    grid-template-columns: auto auto auto;
    margin: 0;
    padding: 15px !important;
    /* justify-content: space-evenly; */
    align-content: center;
    align-items: center;
    justify-items: stretch;
    gap: 0 15px;
    text-align: center;
}

.opt-btn:disabled {
    opacity: 0.25;
    cursor: not-allowed;
}

.opt-btn.first {
    margin-left: 0;
}

.opt-btn.red {
    background-color: #4C1134;
    color: #ff00db;
}

.opt-btn.blue {
    background-color: #11344C;
    color: #00dbff;
}

.opt-btn.icon-blue {
    background-color: rgba(17, 52, 76, 0);
    /*color: #368cef;*/
    color: #299def;
    border: solid 1px #11344C;
}

.opt-btn.icon-blue:hover {
    background-color: #11344C;
    border: solid 1px #11344C;
}

.opt-btn.blue.selected {
    background-color: #00477980;
    color: #00dbff;
}

.opt-btn.green {
    background-color: #114C34;
    color: #00ffdb;
}

.opt-btn.icon-green {
    background-color: rgba(17, 76, 52, 0);
    border: solid 1px #114C34;
    color: #00ffdb;
}

.opt-btn.icon-green:hover {
    background-color: #00ffac12;
    color: #00ffac !important;
    border: solid 1px #114C34;
}

.clean, .clean:hover{
    border: none;
    background: none !important;
}

.opt-btn.yellow {
    background-color: #4C3411;
    color: #ffdb00;
}

.opt-section.active {
    display: block;
}

.opt-btn {
    display: inline-block;
    height: fit-content;
    border: none;
    text-transform: uppercase;
    font-size: 0.65rem;
    padding: 5px 10px;
    margin: 0 2px;
}

.opt-btn.mixed {
    background-color: #333131;
    color: #ffdf59;
}

.add-btn {
    margin: 15px 0;
}


.mini-btn {
    font-size: 0.5rem;
}
/* end main buttons */

.controls {
    background: #0310134a;
}

.pb-arg-btns {
    /* text-align: right; */
    margin-top: 1.5rem;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 0.25em;
}

.pb-arg-btns > div {
    display: flex;
    gap: 0.25em;
    flex-wrap: wrap;
    align-items: center;
}

.pb-arg-btns > .left-icons {
    flex-direction: row;
    justify-content: flex-start;
    gap: 0.3em;
}

.left-icons button {
    position: relative;
}

.left-icons button .icon {
    position: relative;
    top: 3px;
}

.left-icons .recycle-icon {
    top: 4px;
}

button[data-toggle='on'] {
    
}

button[data-toggle='off'] {
    opacity: 0.4;
}

button[data-toggle='off']:hover {
    opacity: 0.4;
}

button[data-toggle='off']:hover:disabled {
    opacity: 0.4;
}

button[data-toggle='off']:hover:not(:disabled) {
    opacity: 1;
}

.pb-arg-btns .opt-btn {
    font-size: 0.65rem;
}

.array-container + .opt-btn {
    margin: 15px 0 0;
}

.array-item-container:has(> .input-container.type-container.simple-type) {
    margin: 0;
}

.array-item-container:has(> .opt-btn) {
    margin: 0;
}

.array-item-container:has(> .array-container) {
    margin-bottom: 15px;
    /* border: solid 1px #2aff0054;
    padding: 15px */
}

.input-container.type-container.simple-type input {
    margin: 0;
    font-size: 1rem;
}

.array-container .array-item-container:not(:last-of-type) .input-container.type-container.simple-type > input {
    border-bottom: 0;
}

.array-item-container > .input-container {
    display: inline;
}

.array-item-container > .map-container {
    display: inline-grid;
}

.kv-container {
    /* margin: 15px 0; */
    /* padding: 20px; */
    /* border: 2px solid #00e7ff59; */
}


#arguments-container, .pb-arguments-container {
    padding: 15px;
    margin: 0 0 1rem 0;
    font-size: 0.8rem;
    border: 1px solid #299def;
    color: #299def;
    width: auto; /* Make it span the full viewport width */
    min-height: 50px;
    /* You might want to add a background color or border for visibility */
    background-color: #041018; /* #030c13; /* Example */
    border-top: 16px solid;
    overflow: auto;
}


#parameter-display {
    display: block;
}

#parameter-display > div.pb-arguments-container.readonly {
    position: unset;
    width: auto;
    margin: auto;
    height: auto;
    min-height: 100px;
    padding-top: 0.4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


div.pb-arguments-container.readonly {
    font-size: larger;
}

.pb-arguments-container pre * {
    display: inline!important;
}

.pb-arguments-container opaque * {
    font-style: normal;
    color: rgb(174 216 249) !important;
    word-wrap: break-word;
}

.pb-arguments-container opaque quote {
    display: none !important;
}

/** syntax **/
comma {
    color: white;
}

string {
    color: #2fdcb0;
}

u8, u16, u32, u64, u128, u256, u512 {
    color: #ffc35d;
}

input[type=number]::-webk-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

.kv-container:has(div:nth-child(2):is(.simple-type)) {
    display: grid;
    /* The keys can only be primitive types. long addresses?*/
    grid-template-columns: auto auto auto;
    gap: 0;
}

.kv-container:has(div:nth-child(2):is(.compound-type)) {
    display: flow;
    /* The keys can only be primitive types. long addresses?*/
    grid-template-columns: auto auto auto;
    gap: 0;
}

.kv-container input[type='number'] {
    max-width: 100px;
}

.message {
    font-size: 0.7rem;
}

/** HUD **/
.hud {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 15px;
    margin-bottom: 15px;
}

.stats {
    padding: 10px;
    white-space: nowrap;
    background-color: #00ffac12;
    border: none;
}

.stats > span {
    color: #00ffac;
    font-size: 1rem;
    text-transform: uppercase;
}

.hud label, .parameter-sel-container label, div.pb-arguments-container.readonly > label, .stats label {
    text-transform: uppercase;
    display: block;
    font-size: 0.6rem;
    margin-bottom: 0.35em;
    color: #00ffebb5 !important;
}
/* pb readonly display */
div.pb-arguments-container.readonly > pre {
    display: flex;
    padding: 0;
    line-height: 2rem;
}

/** IDs **/

#modal_parameter_builder .modal-frame {
    max-width: unset;
}

#parameter_builder_container .pb_entry_container {
    display: flex;
    flex-direction: column;
    flex-flow: column;
    height: 100%;
}

#parameter_builder_container .pb-arguments-container {
    max-height: 5rem;
    flex-shrink: 0;
}

#parameter_builder_container .pb-input-scrollbox  {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    min-height: 0;
    max-height: 55vh;
}

#parameter_builder_container .pb-input-container {
    flex-grow: 1;
    overflow-y: auto;
    height: auto;
    max-height: none;
    box-sizing: border-box;
}


#parameter_builder_container .info-block {
    margin: 1.25rem 0 0;
}

#parameter_builder_container .po-selection {
  margin-top: 1rem;
}


/* pb_ui_button */
#pb_ui_btn {
    /* margin-bottom: 30px ; */
}


#entry-call-container {
    max-height: 150px;
    overflow: auto;
}

#entry-controls {
    display: grid;
    grid-template-columns: auto auto;
    gap: 20px;
    border: none;
}
#entry-controls > .hud {
    margin-bottom: 0;
}

#entry-controls > .options-container {
    /*border: 1px solid #41607c;*/
    border: thin solid #7afad34a;
    white-space: nowrap;
}

#program-spec {
    margin: 15px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

#parameter-display .title1 {
    padding: 0;
    margin-bottom: 10px;
}

#output_container {
    background: none;
    border: none;
    border-top: 1px solid #299def24;
    border-bottom-width: 0;
    margin: 1rem 1rem 0 1rem;

}

#signature-container > parameter label {
    font-weight: bold;
}

#signature-container > parameter:first-child::after {
    content: ', ';
}

#signature-container > parameter::after {
    content: ', ';
    margin-right: 0.4rem;
}

#signature-container > parameter:last-child::after {
    content: '';
}

#signature-container > parameter signature {
    font-size: 1rem;
    color: #d4bdff;
}

#output-heading {
    margin-top: auto;
}

#output-heading * {
    display: inline;
}

#hud-entry-name {
    text-transform: unset;
}

#pb-ui-params-stat{
    text-align: center;
}

/** index.css overrides **/

/** Dropdown **/
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #01181c;
    width: 100%;
    /* min-width: 260px; */
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
    min-width: max-content;
}

.dropdown-content a {
    color: #00ffac;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: smaller;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #000900}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    /* background-color: #3e8e41; */
}

