html, body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: black;
  height: 100%;
}

#app {
  display: grid;
  grid-template-columns: 1fr;
  height: 100%;
}

@media screen and (min-width: 1024px) {
  #app {
    grid-template-columns: 1fr auto;
  }
}

.title {
  display: flex;
  gap: 1rem;
  flex-direction: row;
  align-items: center;
  font-size: 1.2rem;
  color: #02ffcf;
}

.playground {
  color: #3f3f3f;
  font-size: .9rem;
}

#app>div {
  display: flex;
  flex-direction: column;
}

#app> :nth-child(2) {
  overflow: auto;
}

#app> :nth-child(2) .controls {
  border-top: .1rem solid #3f3f3f;
}

@media screen and (min-width: 1024px) {
  #app> :nth-child(2) {
    border-left: .1rem solid #3f3f3f;
    max-width: 500px;
  }

  #app> :nth-child(2) .controls {
    border-top: none;
  }
}

#input_editor {
  padding: 1rem;
  font-family: monospace;
  font-size: 1rem;
  overflow: auto;
  background: black;
  border: none;
  outline: none;
  flex: 1;
}

.controls {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  justify-content: space-between;
  background: black;
  color: white;
  padding: 1rem;
  border-bottom: .1rem solid #3f3f3f;
  flex-wrap: wrap;
}

.btn {
  padding: .7rem 1.2rem;
  background-color: #02ffcf;
  color: black;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  border-radius: .25rem;

  gap: .5rem;
  display: flex;
  font-weight: bold;
}

.btn:hover {
  background-color: white;
}

.btn:disabled {
  background-color: #3f3f3f;
  cursor: default;
}

.btn-clear {
  padding: .4rem .5rem;
  background-color: #3f3f3f;
  cursor: pointer;
  border: none;
  line-height: 0;
  border-radius: .25rem;
  color: white;
  font-size: 1rem;
  position: absolute;
  right: 1rem;
}

.btn-clear:hover {
  background-color: white;
  color: black;
}

.input {
  border: none;
  outline: none;
  padding: .6rem .8rem;
  background: #3f3f3f;
  color: white;
  border-bottom: thin solid #6d6d6d;
}

#spec {}

#spec>div {
  padding: 1rem;
  display: flex;
  gap: .8rem;
  align-items: center;
  border-bottom: .1rem solid #3f3f3f;
  background: black;
  color: white;
}

#spec>div>:nth-child(1) {
  font-weight: bold;
}

.spec-column {
  flex-direction: column;
  align-items: start !important;
}

.spec-param {
  display: flex;
  flex-direction: column;
  gap: .25rem;
}

#output_container {
  flex: 1;
  padding: 1rem;
  background: black;
  color: #dcdcdc;
  font-family: monospace;
  font-size: 1rem;
  scroll-behavior: smooth;
  position: relative;
}

@media screen and (min-width: 1024px) {
  #output_container {
    overflow: auto;
  }
}

::-webkit-scrollbar {
  height: .6rem;
  width: .6rem;
}

::-webkit-scrollbar-track {
  background: rgba(15, 15, 15, 0.8);
  border-radius: .5em;
}

::-webkit-scrollbar-thumb {
  background: rgba(40, 40, 40, 0.8);
  border-radius: .5em;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(122 250 211);
}

.hidden {
  position: absolute;
  top: -9999px;
}

.flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: .5rem;
}

.flex-column {
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.editor-wrap {
  display: flex;
  flex-direction: row;
}

#editor_lines {
  color: #3f3f3f;
  padding: 1rem 0 1rem 1rem;
  font: 16px monospace;
}

.spin {
  animation: spin .8s infinite;
}

@keyframes spin {
  100% {
    transform: rotate(360deg)
  }
}