.modal {
  position: absolute;
  display: flex;
  justify-content: center;
  width: 100%;
  top: 0;
  z-index: 1;
}

.modal-backdrop {
  z-index: 3;
  background: rgba(0, 0, 0, .5);
  backdrop-filter: blur(5px);
  position: fixed;
  width: 100%;
  height: 100%;
}

.modal-frame {
  background: black;
  color: white;
  margin-top: 2rem;
  z-index: 3;
  transform: translateY(-100%);
  animation: modal-anim .3s forwards;
  border-radius: .5em;
  box-shadow: 0 0 50px rgb(31, 31, 31);
  max-width: 600px;
}

@keyframes modal-anim {
  0% {
    transform: translateY(-100%);
  }

  100% {
    transform: translateY(0%);
  }
}

.modal-title {
  font-weight: bold;
  font-size: 22px;
  padding: 1rem;
  border-bottom: thin solid #7afad3;
  color: #7afad3;
}

.modal-content {
  padding: 1rem;
  display: flex;
  gap: 1rem;
  flex-direction: column;
}
